.article-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  min-height: 10vh;
}

nav {
  align-items: center;
  display: flex;
  gap: 4rem;
  justify-content: center;
}


li > a {
  animation: side 1.5s ease-in;
  color: var(--color-primary);
  display: inline-block;
  font-size: 1.4rem;
  position: relative;
  text-decoration: none;
  width: fit-content;
}
li > a:after {
  content: "";
  display: block;
  height: 2px;
  margin: auto;
  transition: all .8s;
  width: 0px;
}
li > a:hover:after {
  background: linear-gradient(45deg, 
  rgba(252,69,69,1) 25%, 
  rgba(29,253,89,1) 60%, 
  rgba(58,114,180,1) 100%);
  width: 100%;
}

.header-navbar {
  align-items: flex-end;
  display: flex;
  margin-left: 8rem;
  margin-top: -4rem;
  width: 100%;
}

header nav > ul {
  display: flex;
  gap: 7rem;
  list-style: none;
}

header .logo {
  cursor: pointer;
  padding-top: 6px;
  transition: transform .3s;
  width: 60px;
}

.logo:hover {
  transform: scale(1.2);
}

button > img {
  width: 50px;
}

header button {
top: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transform: scale(1.5);
}

label, input[type="checkbox"] {
  display: none;
}

.button-close {
  display: none;
}


@media screen and (max-width: 375px) {
 .image-header {
      align-items: flex-start;
  }
}

@media screen and (max-width: 740px) {

  .article-header {
      display: flex;
      flex-direction: row;
  }


  .header-navbar {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100%;
      margin: 0;
      position: relative;
      width: 100%;
  }

  .nav-label {
      display: flex;
      font-size: 2rem;
      justify-content: flex-end;
      margin-top: 1rem;
      padding: 0.6rem;
  }

  .menu  {
      width: 3rem;
      filter: invert(97%) sepia(3%) saturate(6637%) hue-rotate(305deg) brightness(100%) contrast(82%);
  }

  .navbar {
      display: none;
  }
  
  #hamburger:checked ~ .navbar {
      display: block;
      width: 100%;
      background-color: var(--color-pages);
      border-radius: 5px;
  }
  
  .nav-list {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 1.5rem 0;
  }

}