.container-project {
  align-items: center;
  background-color: var(--color-pages);
  border-radius: 5px;
  display: block;
  flex-direction: column;
  gap: 4rem;
  height: 70vh;
  justify-content: center;
  overflow-y: scroll;
  padding: 0 6rem;
  scroll-behavior: smooth;
  width: 100%;
}


@media screen and (max-width: 768px) {
  .container-project {
      padding: 0 3rem;
  }
  
}

@media screen and (max-width: 740px) { 
  .container-project {
      background-color: transparent;
      height: 100%;
      margin-top: -4rem;
      overflow-y: hidden;
      padding: 20px 10px;
      width: 100%;
  }
}